/* Plane Logo */

/* Color1: #287AD7 */

/* main-teal: #0BAAB0 */
/* main-purple: #1C16BD */
/* hover-purple: #261EFF */

body{
  font-family: 'Montserrat', sans-serif;
  min-height:100vh;
  margin:0;
  position:relative;
}

body::after {
  content: '';
  display: block;
  height: 53px; /* Set same as footer's height */
}

/* Footer */
#footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #0BAAB0;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 1%;
  font-size: .75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 53px;
}


/* MULTIPLE Selectors */
h1, h2, h3, h4, h5 {
  /* can use this to do all at once */
}

/* HEIRARCHICAL Selectors */
#title h2 {
  /* Do this to target specific h2 in title section */
  /* This would read: Any h2 inside the ID: title, change to blah */
  /* This is when there is a Parent/Child relationship */
}

/* COMBINED Selectors */
.container.nav-item.btn-primary {
  /* This would call things that are all in the same element */
  /* For example, this specific button in the navbar */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;

}

h2 {
  font-size: 2.7rem;
  font-weight: 400;
}


/* Title */

#title {
  color: #fff;
}

.container-fluid {
  padding: 10px 0 0 22px;
  background-image: url("../images/flipflops_horizontal.jpg");
  background-size: cover;
}


.title-catchphrase {
  padding-bottom: 444px;
}
/* Navigation Bar */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  padding: 9px 0px;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size:
}


/* Features */

#features {
  padding: 13% 10%;
  /* padding-bottom: 222px; */
  text-align: center;
}

.feature-text {
  padding: 0 13%;
  color: #8f8f8f;
}

.icon {
  /* padding-top: 100px; */
  padding-bottom: 22px;
}


.icon-text:hover {
  color: #8f8f8f;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #0BAAB0;
  color: #fff
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-image {
  width: 80px;
  border-radius: 100%;
  margin: 20px;
}

#testimonials h2 {
  font-weight: 300;
}
/* Press */

#press {
  background-color: #0BAAB0;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 17%;
  padding: 1.5% 2.2% 5%;
}

.press-image-piper {
  width: 22%;
  padding: 1.5% 2.2% 5%;
}

.make-smaller {
  width: 15%;
}
.make-bigger {
  width: 21%;
}

/* How It Works */

#how-it-works {
  font-family: 'Montserrat', sans-serif;
  padding: 5% 10% 5%;
  text-align: center;
  color: #1C16BD;
}

.instructions {
  text-align: left;
  padding-left: 15%;
  font-weight: 400;
}

/* Pricing */

#pricing {
  font-family: 'Montserrat', sans-serif;
}

.pricing-container {
  text-align: center;
  padding: 10% 2% 10%;
}

.price-box {
  padding: 0 7% 0;
}

.btn-custom {
    @include button-variant(pink, red, red, #444, #333, red);
    color: #fff;
    background-color: #1C16BD;
}

.btn-custom:hover {
  color: #fff;
  background-color: #261EFF
}

.btn-custom-outline {
    @include button-variant(pink, red, red, #444, #333, red);
    color: #1C16BD;
    background-color: #fff;
    border-color: #1C16BD;
}

.btn-custom-outline:hover {
  color: #fff;
  background-color: #1C16BD;
}

.btn-custom-outline-form {
    @include button-variant(pink, red, red, #444, #333, red);
    color: #1C16BD;
    background-color: #f2f2f2;
    border-color: #1C16BD;
}

.btn-custom-outline-form:hover {
  color: #fff;
  background-color: #1C16BD;
}

.card-body h2 {
  padding: 2.2% 0;
}

/* Call to Action CTA */

#cta {
  font-family: 'Montserrat', sans-serif;
  background-color: #0BAAB0;
  text-align: center;

  padding: 5% 0 5%;
  color: #fff
}

.cta-text {
  padding: 4% 0 1%;
  font-weight: 300;
}

.btn-mega {
  padding: 6%;
  font-family: "Ubuntu", sans-serif;
}

.btn-tiny {
  padding: 0px 5px;
  font-size: 11px;
}

.text-mega {
  font-size: 2.5rem;
}

.text-mega-small {
  font-size: .85rem;
}

#cta h2 {
  font-size: 2.8rem;
}

#cta p {
  font-size: 2rem;
}




@media (max-width: 800px) and (min-width: 561px) {
  .container-fluid {
    background-image: url("../images/flipflops_horizontal_mid.jpg");
    background-size: cover;
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2 rem;
  }
}

@media (max-width: 560px) {
  .container-fluid {
    background-image: url("../images/flipflops_horizontal_small.jpg");
    background-size: cover;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

.header-title {
    text-align: center;
    padding-left: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-title {
text-align: center;
padding: 2% 1%;
}

.form-padding {
padding: 5% 1%;
text-align: center;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  }

.control-label {
    font-weight: bold;
    font-size: 1.1rem;
}

.left-padded {
text-align: left;
padding-left: 25%;
}

.center-item {
width: 14%
}

.table-border {
border-collapse: collapse;
border: 1px solid black;
}



/* --------------------------------------------------------------------------------------------- */
/* GOT THIS HELPFUL CODE FROM STACK OVERFLOW: Wanted to make date picker more user friendly */

input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC";
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #1C16BD;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }

/* ---------------------------------------------------- */

.tooltip-inner {
    max-width: 70% !important;
    margin: 0 auto;
    background-color: #1C16BD;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f2f2f2;
}

.tooltip.show {
    opacity: 1 !important;
}

/*------------------------------------------------*/

.dropdown-toggle::after {
    content: none;
}


.menu-icon {
    opacity: 0.60
}

.menu-icon:hover {
    opacity: 1.0
}


tr.bordered {
    border-bottom: 1px solid #000;
    border-color: #D9D9D9;
    border-width: 50%;
}