{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-xs-10 mx-auto content">
         <div class="form-container" style="text-align: center; margin: 0% 10%;">
             <br>
<h4>{{ params.heading }}</h4>
           <br>
  <p>{{ params.body1 }}</p>
             <br>
 {% if params.body2 %}
  <p>{{ params.body2 }}</p>
 {% endif %}
 {% if params.body3 %}
  <p>{{ params.body3 }}</p>
 {% endif %}
 {% if page_title == "Report Submitted!" %}
             <br>
   <p>If you are still not satisfied and want to take further action, <a href="{{ url_for('serious_report') }}">report it here</a></p>
 {% endif %}
             <hr>

    {% if params.button_text %}
    <br>
    <a type="button" href="{{ url_for(params.url_for) }}" class="w-33 btn btn-sm btn-custom">{{params.button_text}}</a>
             <br><br>
    {% endif %}

          </div>
        </div>
      </div>
</div>
    <br><br>

{% include "footer.html" %}
{% endblock %}

