{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<br>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-xs-10 mx-auto content">
         <div class="form-container" style="text-align: center; margin: 0% 10%;">
             <br>
<h4>{{ params.heading }}</h4>
           <br>
  <p>{{ params.body1 }}</p>
             <br>
 {% if params.body2 %}
  <p>{{ params.body2 }}</p>
 {% endif %}

    {% if params.button_text %}
    <br>
    <a type="button" href="{{ url_for(params.url_for) }}" class="w-33 btn btn-sm btn-custom">{{params.button_text}}</a>
    {% endif %}

          </div>
        </div>
      </div>
</div>
    <br><br>

{% include "footer.html" %}
{% endblock %}

