{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">

          {% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
{% for error in form.password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
    {% for error in form.new_password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.confirm_password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
</div>
 <br>
    {% endif %}

        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">

          <form method="POST" action="">
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.password.label }}</strong>
              {{ form.password(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.new_password.label }}</strong>
              {{ form.new_password(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.confirm_password.label }}</strong>
              {{ form.confirm_password(class_="form-control", style="width:100%") }}
              <br><br>
              <button class="w-22 btn btn-md btn-custom" type="submit">Change Password</button>

          </form>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>



{% include "footer.html" %}
{% endblock %}