{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">

          {% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
{% for error in form.password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
    {% for error in form.new_password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.confirm_password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
</div>
 <br>
    {% endif %}

        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">

          <form method="POST" action="">
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.password.label }}</strong>
              <span id="show_password" class="btn" onclick="togglePassword()" title="Show">Show</span>
              {{ form.password(id="passwordInput", class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.new_password.label }}</strong>
              <span id="show_password_2" class="btn" onclick="togglePassword_2()" title="Show">Show</span>
              {{ form.new_password(id="passwordInput_2", class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.confirm_password.label }}</strong>
              <span id="show_password_3" class="btn" onclick="togglePassword_3()" title="Show">Show</span>
              {{ form.confirm_password(id="passwordInput_3", class_="form-control", style="width:100%") }}
              <br><br>
              <button class="w-22 btn btn-md btn-custom" type="submit">Change Password</button>

          </form>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>

<script>
    function togglePassword()
    {
      var toggle = document.getElementById("show_password");
      var password = document.getElementById("passwordInput");
      if(toggle.title == 'Show'){
          password.type = "text";
          toggle.title = 'Hide';
          toggle.textContent = "Hide Password";}
      else if(toggle.title == 'Hide'){
          password.type = "password";
          toggle.title = 'Show';
          toggle.textContent = "Show Password";}
    }

    function togglePassword_2()
    {
      var toggle2 = document.getElementById("show_password_2");
      var password2 = document.getElementById("passwordInput_2");
      if(toggle2.title == 'Show'){
          password2.type = "text";
          toggle2.title = 'Hide';
          toggle2.textContent = "Hide Password";}
      else if(toggle2.title == 'Hide'){
          password2.type = "password";
          toggle2.title = 'Show';
          toggle2.textContent = "Show Password";}
    }

        function togglePassword_3()
    {
      var toggle3 = document.getElementById("show_password_3");
      var password3 = document.getElementById("passwordInput_3");
      if(toggle3.title == 'Show'){
          password3.type = "text";
          toggle3.title = 'Hide';
          toggle3.textContent = "Hide Password";}
      else if(toggle3.title == 'Hide'){
          password3.type = "password";
          toggle3.title = 'Show';
          toggle3.textContent = "Show Password";}
    }
</script>


{% include "footer.html" %}
{% endblock %}