{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">
{% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
{% for error in form.email.errors: %}
    <p>{{ error }}</p>
{% endfor %}
    {% for error in form.confirm_email.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
</div>
 <br>
    {% endif %}
          <div style="margin: 0 10%;">
                <p>You will be sent a confirmation email to the new email address you submit.
                    You will need to verify your new email via the link sent in that email.</p>
              </div>
                <br>
        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">

          <form method="POST" action="">
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.email.label }}</strong>
              {{ form.email(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.confirm_email.label }}</strong>
              {{ form.confirm_email(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.password.label }}</strong>
              <span id="show_password" class="btn" onclick="togglePassword()" title="Show">Show</span>
              {{ form.password(id="passwordInput", class_="form-control", style="width:100%") }}
              <br><br>
              <button class="w-22 btn btn-md btn-custom" type="submit">Send Verification Email</button>

          </form>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>

<script>
    function togglePassword()
    {
      var toggle = document.getElementById("show_password");
      var password = document.getElementById("passwordInput");
      if(toggle.title == 'Show'){
          password.type = "text";
          toggle.title = 'Hide';
          toggle.textContent = "Hide";}
      else if(toggle.title == 'Hide'){
          password.type = "password";
          toggle.title = 'Show';
          toggle.textContent = "Show";}
    }
</script>

{% include "footer.html" %}
{% endblock %}