{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<br>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-xs-10 mx-auto content">
         <div class="form-container" style="text-align: center; margin: 0% 10%;">
             <br>
<h5>Please check your email to confirm your account</h5>
           <br><br>
  <p style="text-align: left">If you don't see an email from us in your inbox, check your spam folder.</p>
  <p style="text-align: left">If it unfortunately landed in the spam folder, make sure to mark it as "Not Spam"
    so that our other emails (and your deals!) don't get sent there as well.</p>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}