{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}



 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">
{% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
{% for error in form.email.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
</div>
          <br>
    {% endif %}
        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">
          <form method="POST" action="">
              {{ form.csrf_token }}
              <br>
              <strong>{{ form.email.label }}</strong>
              {{ form.email(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.password.label }}</strong> <span id="show_password" class="btn" onclick="togglePassword()" title="Show">Show Password</span>
              {{ form.password(id="passwordInput", class_="form-control", style="width:100%") }}

              <br><br>
              <table  style="display: table; width: 100%;">
                  <tbody style="display: table; width: 100%;">
                  <tr>
                      <td><button class="w-22 btn btn-md btn-custom" type="submit">Login</button></td>

                <td>
                    <table  style="text-align: right; display: table; width: 100%;">
                        <tr><td><a class="button" style="font-size: 0.8rem; text-decoration: none;" href="{{ url_for('reset_your_password') }}">Forgot Password?</a></td></tr>
                        <tr><td> <a class="button" style="font-size: 0.8rem; text-decoration: none;" href="{{ url_for('create_an_account', join_type='mini') }}">Create New Account</a></td></tr>
                    </table>
                      </td>
                  </tr>
                  </tbody>
                  </table>
          </form>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>

<script>
function togglePassword()
{
  var toggle = document.getElementById("show_password");
  var password = document.getElementById("passwordInput");
  if(toggle.title == 'Show'){
      password.type = "text";
      toggle.title = 'Hide';
      toggle.textContent = "Hide Password";}
  else if(toggle.title == 'Hide'){
      password.type = "password";
      toggle.title = 'Show';
      toggle.textContent = "Show Password";}
}
</script>



{% include "footer.html" %}
{% endblock %}