{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">
        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">
          <form method="POST" action="">
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.email.label }}</strong>
              {{ form.email(style="width:100%") }}
              <br><br>
              <strong>{{ form.password.label }}</strong>
              {{ form.password(style="width:100%") }}
              <br><br><br>
              <table  style="display: table; width: 100%;">
                  <tbody style="display: table; width: 100%;">
                  <tr>
                      <td><button class="w-22 btn btn-md btn-custom" type="submit">Login</button></td>

                <td>
                    <table  style="text-align: right; display: table; width: 100%;">
                        <tr><td><a class="button" style="font-size: 0.8rem; text-decoration: none;" href="{{ url_for('reset_your_password') }}">Forgot Password?</a></td></tr>
                        <tr><td> <a class="button" style="font-size: 0.8rem; text-decoration: none;" href="{{ url_for('create_an_account', join_type='mini') }}">Create New Account</a></td></tr>
                    </table>
                      </td>
                  </tr>
                  </tbody>
                  </table>
          </form>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>


{% include "footer.html" %}
{% endblock %}