{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">
        <div class="form-container" style="text-align: center;">
<h3>Account Settings</h3>
<br>
        <p>Here you can securely change the more important account settings.</p>
            <br>
        <p>Note: You will need to login again after changing either your password or email address</p>
            <br>
  <hr>
            <br>

<a type="button" href="{{ url_for('change_email') }}" style="width: 40%;" class="w-33 btn btn-md btn-custom-outline">Email</a>
<span style="padding: 0 10px;"></span>
  <a type="button" href="{{ url_for('change_password') }}" style="width: 40%;" class="w-33 btn btn-md btn-custom-outline">Password</a>
    <br><br>
        <a type="button" href="{{ url_for('change_name') }}" style="width: 40%;" class="w-33 btn btn-md btn-custom-outline">Username</a>
<span style="padding: 0 10px;"></span>
  <a type="button" href="{{ url_for('delete_account') }}" style="width: 40%;" class="w-33 btn btn-md btn-custom-outline-logout">Delete Account</a>
    <br><br>
            </div>
                  <br><br>
</div>
</div>
</div>
    {% include "footer.html" %}
{% endblock %}