{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="form-container">

             {% if not des['city1']: %}
            <div style="margin: 0 11%;">
            <h3>So Much Empty!</h3>
            <br>
            <p>Let's get that taken care of right now.</p>
            <p>Update your destinations so you have places to go and our flight search can work its magic!</p>
                <br>
                </div>
            {% else: %}

          <div style="padding: 1% 0;">
          <h5 style="padding-bottom: .2%;">Currency</h5><h5 style="color: #1C16BD"><strong>{{ des["currency"] }}</strong></h5>
              </div>
          <hr>
            <div style="padding: 3% 0;">
          <h5 style="padding-bottom: 2%;">Home Airport: </h5><h5 style="color: #1C16BD"><strong>{{ city_options[des.home_airport] }}</strong></h5>
                </div>
          <hr>
            <div style="padding: 3% 0;">
          <h5 style="padding-bottom: 2%;">Price Ceiling & Destination</h5>
          <table style="border-collapse: collapse; margin: 10px auto; color: #1C16BD">

            <tbody>
             {% for x in range(1, 11): %}

            {% if des['city' + x|string]: %}

            <tr>
              <td style="text-align: right; width: 122px; padding: 8px 0px;">
                  <strong>${{ "{:,}".format(des["price" + x|string]) }}</strong> - - -
              </td>
              <td></td>
              <td style="text-align: left;  padding: 8px 0px 8px 5px;">
                <strong>{{ city_options[des["city" + x|string]] }}</strong>
              </td>
            </tr>

            {% endif %}
            {% endfor %}
            </tbody>
            </table>
                </div>


            {% endif %}
            <hr>

        <br>

        <a type="button"href="{{ url_for('update_destinations') }}" class="w-33 btn btn-md btn-custom-outline">Update Destinations</a>
      <br><br>
      </div>
      <br>
          <div class="col-lg-8 col-md-10 mx-auto" style="text-align: center;">
              <br>
              <div style="margin: 0 10%;">
   <p style="font-size: 0.8rem">Want to see what people around the world are celebrating this month?
   <a href="https://www.wanderlust.co.uk/content/world-festivals/#{{ current_month }}" style="text-decoration: none;"
      target="_blank">Check it out!</a></p>
        </div>
              </div>
       </div>
    </div>
    <br><br>
</div>



{% include "footer.html" %}
{% endblock %}