{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto form-container">
        <div>

          <h5>Home Airport: </h5><h5><strong>{{ city_options[des.home_airport] }}</strong></h5>
          <hr>
          <h6>Currency:  <strong>{{ des["currency"] }}</strong></h6>
          <hr>
          <table style="border-collapse: collapse; margin: 10px auto;">
            <thead>
            <th style="text-align: right; padding-right: 7px;">Price Ceiling</th>
            <th> </th>
            <th style="text-align: left;">Destination</th>

            </thead>
            <tbody>
             {% for x in range(1, 11): %}

            {% if des['city' + x|string]: %}

            <tr>
              <td style="text-align: right; width: 122px;">
                  <strong>${{ "{:,}".format(des["price" + x|string]) }}</strong> - - -
              </td>
              <td>- - -</td>
              <td style="text-align: left;">
                <strong>{{ city_options[des["city" + x|string]] }}</strong>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td style="text-align: right;">- - - - - - - - - - - - - - - - - - - - - - - </td>-->
<!--              <td style="text-align: left;"> - - - - - - -  </td>-->
<!--            </tr>-->
            {% endif %}
            {% endfor %}
            </tbody>
            </table>
        </div>
        <br>
        <a type="button" href="{{ url_for('update_destinations') }}" class="w-33 btn btn-md btn-custom">Update Destinations</a>
      </div>
    </div>
    <br><br>
</div>



{% include "footer.html" %}
{% endblock %}