{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container form-container">

    <h4>Home Airport: {{ city_options[des.home_airport] }}</h4>
    <br>
<h4> Places and Price Ceilings</h4><br>
  <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto" style="text-align: left; padding-left: 10%">
  {% if des.city1: %}
  <li><strong>City 1:</strong> {{ city_options[des.city1] }}</li>
  <li><strong>Price:</strong> ${{ des.price1 }}</li>
    <br>
  {% endif %}
    {% if des.city2: %}
  <li><strong>City 2:</strong> {{ city_options[des.city2] }}</li>
  <li><strong>Price:</strong> ${{ des.price2 }}</li>
    <br>
  {% endif %}
      {% if des.city3: %}
  <li><strong>City 3:</strong> {{ city_options[des.city3] }}</li>
  <li><strong>Price:</strong> ${{ des.price3 }}</li>
    <br>
  {% endif %}
      {% if des.city4: %}
  <li><strong>City 4:</strong> {{ city_options[des.city4] }}</li>
  <li><strong>Price:</strong> ${{ des.price4 }}</li>
    <br>
  {% endif %}
    {% if des.city5: %}
  <li><strong>City 5:</strong> {{ city_options[des.city5] }}</li>
  <li><strong>Price:</strong> ${{ des.price5 }}</li>
    <br>
  {% endif %}
    {% if des.city6: %}
  <li><strong>City 6:</strong> {{ city_options[des.city6] }}</li>
  <li><strong>Price:</strong> ${{ des.price6 }}</li>
    <br>
  {% endif %}
    {% if des.city7: %}
  <li><strong>City 7:</strong> {{ city_options[des.city7] }}</li>
  <li><strong>Price:</strong> ${{ des.price7 }}</li>
    <br>
  {% endif %}
      {% if des.city8: %}
  <li><strong>City 8:</strong> {{ city_options[des.city8] }}</li>
  <li><strong>Price:</strong> ${{ des.price8 }}</li>
    <br>
  {% endif %}
      {% if des.city9: %}
  <li><strong>City 9:</strong> {{ city_options[des.city9] }}</li>
  <li><strong>Price:</strong> ${{ des.price9 }}</li>
    <br>
  {% endif %}
    {% if des.city10: %}
  <li><strong>City 10:</strong> {{ city_options[des.city10] }}</li>
  <li><strong>Price:</strong> ${{ des.price10 }}</li>
    <br>
  {% endif %}
    </div>
    </div>


<a type="button" href="{{ url_for('update_destinations') }}" class="w-33 btn btn-md btn-custom">Update Destinations</a>
<br><br>
</div>
<br><br>
<br><br><br>

{% include "footer.html" %}
{% endblock %}