{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto form-container">
        <div>
          <table>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Your email:</strong></td><td style="text-align: left"><strong>{{ prefs.email }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Email Frequency:</strong></td><td style="text-align: left"><strong>{{ pref_dict.email_freq[prefs.email_frequency] }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Email Sent On:</strong></td><td style="text-align: left"><strong>{{ pref_dict.email_day[prefs.email_day] }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Min Nights:</strong></td><td style="text-align: left"><strong>{{ prefs.min_nights }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Max Nights:</strong></td><td style="text-align: left"><strong>{{ prefs.max_nights }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Cabin Class:</strong></td><td style="text-align: left"><strong>{{ pref_dict.cabin_class[prefs.cabin_class] }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Exclude Airlines?:</strong></td><td style="text-align: left"><strong>{{ prefs.exclude_airlines }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Max Stops:</strong></td><td style="text-align: left"><strong>{{ prefs.max_stops }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Max Flight Time:</strong></td><td style="text-align: left"><strong>{{ prefs.max_flight_time }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Num Adults:</strong></td><td style="text-align: left"><strong>{{ prefs.num_adults }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Num Children:</strong></td><td style="text-align: left"><strong>{{ prefs.num_children }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Num Infants:</strong></td><td style="text-align: left"><strong>{{ prefs.num_infants }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Lead Time for Searching:</strong></td><td style="text-align: left"><strong>{{ pref_dict.lead_time_start[prefs.search_start_date] }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Search Length:</strong></td><td style="text-align: left"><strong>{{ pref_dict.search_length[prefs.search_length] }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Specific Search Start Date:</strong></td><td style="text-align: left"><strong>{{ pref_dict.start_specific }}</strong></td></tr>
            <tr><td style="text-align: right; padding-right: 10px"><strong>Specific Search End Date:</strong></td><td style="text-align: left"><strong>{{ pref_dict.end_specific }}</strong></td></tr>
            </table>
        </div>
        <br>
        <a type="button" href="{{ url_for('update_preferences') }}" class="w-33 btn btn-md btn-custom">Update Preferences</a>
      </div>
    </div>
    <br><br>
</div>

{% include "footer.html" %}
{% endblock %}