<!DOCTYPE html>
<html>
<head>
    <title>AutoComplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Welcome to GFG</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
    {{ form.trial.label }}: {{ form.trial }}
    {{ form.submit() }}
    </form>
    <br>
    {% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ ', '.join(errors) }}
</div>
{% endfor %}


    <script>
  $( function() {
    var availableTags = [
        {% for city in cities %}
            "{{cities[city]}}",
        {% endfor %}
    ];
    $( "#trial" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

</body>
</html>