{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">

          {% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
    {% for error in form.name.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.email.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
    {% for error in form.confirm_password.errors: %}
    <p>{{ error }}</p>
{% endfor %}
</div>
          <br>
    {% endif %}


        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">
          <form method="POST" action="">
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.name.label(style="margin-bottom: 6px;") }}</strong>
              {{ form.name(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.email.label(style="margin-bottom: 6px;") }}</strong>
              {{ form.email(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.password.label(style="margin-bottom: 6px;") }}</strong>
               <span id="show_password" class="btn" onclick="togglePassword()" title="Show">Show</span>
              {{ form.password(id="passwordInput", class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.confirm_password.label(style="margin-bottom: 6px;") }}</strong>
               <span id="show_password_2" class="btn" onclick="togglePassword_2()" title="Show">Show</span>
              {{ form.confirm_password(id="passwordInput_2", class_="form-control", style="width:100%") }}
              <br>

              <table  style="display: table; width: 100%;">
                  <tbody style="display: table; width: 100%;">
                  <tr>
                      <td><button class="w-22 btn btn-md btn-custom" id="register_submit" type="submit" disabled>
                          <div onclick="notifyUser()">Register</div></button></td>

                <td>
                    <table  style="text-align: right; display: table; width: 100%;">
                        <tr><td><a class="button" style="text-decoration: none;" href="{{ url_for('login') }}">Login</a></td></tr>
                    </table>
                      </td>
                  </tr>
                  </tbody>
                  </table>
              <br>
              <div class="g-recaptcha" data-expired-callback="verifyAgain" data-callback="enableRegister" data-sitekey="6Le4JGcgAAAAABwMM5UdpaSXnHJ_Oqk_N2w94umd"></div>

          </form>
                </div>
        </div>
                <br>
      </div>
    </div>
  </div>

<br><br>

<script>
    function togglePassword()
    {
      var toggle = document.getElementById("show_password");
      var password = document.getElementById("passwordInput");
      if(toggle.title == 'Show'){
          password.type = "text";
          toggle.title = 'Hide';
          toggle.textContent = "Hide";}
      else if(toggle.title == 'Hide'){
          password.type = "password";
          toggle.title = 'Show';
          toggle.textContent = "Show";}
    }

    function togglePassword_2()
    {
      var toggle2 = document.getElementById("show_password_2");
      var password2 = document.getElementById("passwordInput_2");
      if(toggle2.title == 'Show'){
          password2.type = "text";
          toggle2.title = 'Hide';
          toggle2.textContent = "Hide";}
      else if(toggle2.title == 'Hide'){
          password2.type = "password";
          toggle2.title = 'Show';
          toggle2.textContent = "Show";}
    }

    function enableRegister(){
        document.getElementById("register_submit").disabled = false;
    }

    function verifyAgain(){
        document.getElementById("register_submit").disabled = true;
    }

    function notifyUser()
    {
      var register_btn = document.getElementById("register_submit");
      if(register_btn.disabled){
      alert("Please complete the reCaptcha before registering")
      }
    }

</script>
{% include "footer.html" %}
{% endblock %}