{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto content">

          {% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
{% for error in form.email.errors: %}
    <p>{{ error }}</p>
{% endfor %}
{% for error in form.password.errors: %}
    <p>Password field can't be blank</p>
{% endfor %}
</div>
 <br>
    {% endif %}


        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">

          <form method="POST" action="" novalidate=True>
                    {{ form.csrf_token }}
              <br>
              <strong>{{ form.email.label }}</strong>
              {{ form.email(class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.password.label }}</strong>
              <span id="show_password" class="btn" onclick="togglePassword()" title="Show">Show</span>
              {{ form.password(id="passwordInput", class_="form-control", style="width:100%") }}
              <br>
              <strong>{{ form.confirm_password.label }}</strong>
              <span id="show_password_2" class="btn" onclick="togglePassword_2()" title="Show">Show</span>
              {{ form.confirm_password(id="passwordInput_2", class_="form-control", style="width:100%") }}
              <br>
              <button class="w-22 btn btn-md btn-custom" type="submit">Reset Password</button>

          </form>
                <br>
                </div>
        </div>
      </div>
    </div>
  </div>
<br><br>

<script>
    function togglePassword()
    {
      var toggle = document.getElementById("show_password");
      var password = document.getElementById("passwordInput");
      if(toggle.title == 'Show'){
          password.type = "text";
          toggle.title = 'Hide';
          toggle.textContent = "Hide";}
      else if(toggle.title == 'Hide'){
          password.type = "password";
          toggle.title = 'Show';
          toggle.textContent = "Show";}
    }

    function togglePassword_2()
    {
      var toggle2 = document.getElementById("show_password_2");
      var password2 = document.getElementById("passwordInput_2");
      if(toggle2.title == 'Show'){
          password2.type = "text";
          toggle2.title = 'Hide';
          toggle2.textContent = "Hide";}
      else if(toggle2.title == 'Hide'){
          password2.type = "password";
          toggle2.title = 'Show';
          toggle2.textContent = "Show";}
    }
</script>

{% include "footer.html" %}
{% endblock %}