{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}


<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 mx-auto content">

          {% if form.errors %}
<div class="form-container" style="background-color: #FFCCCC;">
        {% for error in form.errors: %}
    <p>{{ form.errors[error][0] }}</p>
    {% endfor %}
</div>
          <br>
    {% endif %}

        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">
              <form method="POST" action="">
                        {{ form.csrf_token }}
                  <h4 style="padding: 5px 0 10px 0; color: #1C16BD;">Email Settings</h4>
                  <strong>{{ form.email_frequency.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.email_frequency(class_="form-control", style="width: 230px") }}
                  <br>
                  <strong>{{ form.email_day.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.email_day(class_="form-control", style="width: 150px") }}
                  <br>
                  <hr>
                  <h4 style="padding: 5px 0 10px 0; color: #1C16BD;">Flight Settings</h4>

                  <strong>{{ form.cabin_class.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.cabin_class(class_="form-control", style="width: 126px;") }}
                  <br>
                  <strong>{{ form.max_stops.label(style="margin-bottom: 6px;") }}</strong>
                  <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="Max number of stops for one-way of the trip. If you have destinations that are remote or quite far from your home airport
                            (overseas, islands, rural cities, etc.), direct flights (i.e. 0 stops) might not be available." >
                  <br>{{ form.max_stops(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.max_flight_time.label(style="margin-bottom: 6px;") }}</strong>
                  <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="Max number of hours for one-way trip duration. Trip duration includes layovers and stops. If you have destinations that are remote or quite far from your home airport
                            (overseas, islands, rural cities, etc.), short flight times/layovers might not be available." >
                  <br>{{ form.max_flight_time(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.exclude_airlines.label(style="margin-bottom: 6px;") }}</strong>
                       <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="Excludes airlines rated lowest in safety, service, claims processing, and punctuality
                              from your flight search (e.g. Ryan Air, EasyJet, Lion Air, China Eastern, Spirit, etc.)" >
                  <br>{{ form.exclude_airlines(class_="form-control", style="width: 211px") }}
                  <br>
                  <strong>{{ form.ret_to_diff_airport.label(style="margin-bottom: 6px;") }}</strong>
                        <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="Choose whether or not to include flights in your results that return to a different airport than the one
                                from where you departed. For example, leaving JFK airport in
                                New York City and returning to LGA in New York City." >
                  <br>{{ form.ret_to_diff_airport(class_="form-control", style="width: 160px;") }}
                  <br>

                  <hr>
                  <h4 style="padding: 5px 0 10px 0; color: #1C16BD;">Number of Passengers</h4>


                  <strong>{{ form.num_adults.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_adults(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.num_children.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_children(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.num_infants.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_infants(class_="form-control", style="width: 60px;") }}
                  <br>
                  <hr>
                  <h4 style="padding: 5px 0 10px 0; color: #1C16BD;">Search Settings</h4>

                  <strong>{{ form.min_nights.label(style="margin-bottom: 6px;") }}</strong>
                         <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="The minimum possible length of time spent at your travel destination.
                        Actual trip duration might be somewhere between your min and max nights"
                       >
                  <br>{{ form.min_nights(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.max_nights.label(style="margin-bottom: 6px;") }} </strong>
                  <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                       src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                       title="The maximum possible length of time spent at your travel destination.
                        Actual trip duration might be somewhere between your min and max nights" >

                  <br>{{ form.max_nights(class_="form-control", style="width: 60px;") }}
                  <br>
                  <strong>{{ form.search_start_date.label(style="margin-bottom: 6px;") }}</strong>
                    <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                    src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                    title="This is a rolling start date, meaning it will move as time passes.
                            For example: If you choose 'two weeks', then if the flight search occurs on March 10th,
                            it will look for flights starting from March 24th onwards." >
                  <br>{{ form.search_start_date(class_="form-control", style="width: 160px") }}
                  <br>
                  <strong>{{ form.search_length.label(style="margin-bottom: 6px;") }}</strong>
                    <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                    src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                    title="This is a rolling date range, meaning it will move as time passes.
                            For example, if you have a lead time of  '1 month'  and a time window of
                             '3 months' , then if it searches on September 10th, it would look for all flights from
                            October 10th to January 10th." >
                  <br>{{ form.search_length(class_="form-control", style="width: 160px;") }}
                  <br>
                  <hr>
                  <h4 style="padding: 5px 0 10px 0; color: #1C16BD;">Specific Dates (Optional)</h4>

                   <strong>{{ form.specific_search_start_date.label(style="margin-bottom: 6px;") }}</strong>
                    <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                    src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                    title="This is a fixed date which will not move as time passes.
                            Choose this if you have a specific date range available to travel
                            (holidays, summer vacation, etc.), otherwise leave blank." >
                  <br>{{ form.specific_search_start_date(class_="form-control", style="width: 150px;") }}
                  <br>
                  <strong>{{ form.specific_search_end_date.label(style="margin-bottom: 6px;") }}</strong>
                    <img data-toggle="tooltip" style="width: 18px; margin: 0 0 4px 10px;"
                    src={{ url_for('static', filename='images/info_icon22.png') }} alt="info"
                    title="This is a fixed date which will not move as time passes.
                            Choose this if you have a specific date range available to travel
                            (holidays, summer vacation, etc.), otherwise leave blank." >
                  <br>{{ form.specific_search_end_date(class_="form-control", style="width: 150px;") }}
                  <br>
                  <hr>
                  <br>
                  <div style="text-align: center">
                  <button class="w-22 btn btn-md btn-custom" type="submit">Save Preferences</button>
                    </div>
                  <br>
              </form>
            </div>
        </div>
                <br>
      </div>
    </div>
  </div>
<br>
<br>
<div style="font-size: 0.8rem; margin: 0 auto; text-align: center">
    <p>Go back to <a style="text-decoration: none;" href="{{ url_for('my_preferences') }}" >My Preferences</a></p>
</div>
<br><br>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% include "footer.html" %}
{% endblock %}
