{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet" type="text/css"/>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto content">

            {% if form.errors: %}
                <div class="form-container" style="background-color: #FFCCCC;">
                {% if "destinations" in form.errors: %}
                    {% set vars = {"city_issue": False} %}
                    {% for error in form.errors["destinations"]: %}
                        {% if "city" in error: %}
                            {% if vars.update({"city_issue": True}) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if vars.city_issue: %}
                        <h6>**Please select one of the options as you type**</h6>
                            <br>
                        <p>If you don't see a city (with an airport) that you believe should be available as an option: <br>
                        <a class="button" style="text-decoration: none;" href="{{ url_for('report_issue') }}"> Report it here</a></p>
                        <hr>
                    {% else: %}
                        {% if "home_airport" in form.errors: %}
                            <h6>**Please select one of the options as you type**</h6><br>
                            <p>If you don't see a city (with an airport) that you believe should be available as an option: <br>
                            <a class="button" style="text-decoration: none;" href="{{ url_for('report_issue') }}"> Report it here</a></p>
                            <hr>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if not "destinations" in form.errors and "home_airport" in form.errors: %}
                    <h6>**Please select one of the options as you type**</h6><br>
                    <p>If you don't see a city (with an airport) that you believe should be available as an option: <br>
                    <a class="button" style="text-decoration: none;" href="{{ url_for('report_issue') }}"> Report it here</a></p>
                    <hr>
                {% endif %}

                {% for error in form.errors: %}
                    {% if error == "destinations": %}
                        {% set vars1 = {"dest_city_issue": False} %}
                        {% set vars2 = {"dest_price_issue": False} %}
                        {% for destination_error in form.errors.destinations: %}
                            {% if "city" in destination_error: %}
                                {% if vars1.update({"dest_city_issue": True,
                                                    "message": destination_error.city}) %}
                                {% endif %}
                            {% endif %}
                            {% if "price_ceiling" in destination_error: %}
                                {% if vars2.update({"dest_price_ceiling_issue": True,
                                                    "message": destination_error.price_ceiling}) %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if vars1.dest_city_issue %}
                        <p>{{ vars1.message[0] }}</p>
                        {% endif %}
                         {% if vars2.dest_price_ceiling_issue %}
                        <p>{{ vars2.message[0] }}</p>
                        {% endif %}
                    {% else: %}
                        <p>{{ form.errors[error][0] }}</p>
                    {% endif %}
                {% endfor %}
                </div>
                <br>
            {% endif %}

            <div class="form-container">
                <form method="POST" action="">
                    {{ form.csrf_token }}
                    <div style="padding: 3% 0;">
                    <h4>Currency</h4>
                    {{ form.currency(style="font-size: 1rem; font-weight: bold;") }}
                    </div>
                    <hr>
                    <div style="padding: 3% 0;">
                        {% set home_style = "" %}
                        {% if form.errors %}
                        {% if "home_airport" in form.errors: %}
                        {% set home_style = "background-color: #FFCCCC;" %}
                        {% endif %}
                        {% endif %}

                    <h4>{{form.home_airport.label}}</h4>
                    {{ form.home_airport(size=35, style=home_style) }}
                    <p>(where you will fly out from)</p>
                    </div>
                    <hr>
                    <div style="padding: 3% 0;">
                    <h4>Your Travel Destinations</h4><br>
                    <table style="display: table; width: 100%;">
                        <tr>
                            <th style="padding-right: 22px;"> City Name</th>
                            <th></th>
                            <th style="width: 26%; text-align: left;"> Price Ceiling</th>
                        </tr>
                        </table>
                    <table  id="destinations" style="display: table; width: 100%;">

                        {% for x in range(0, form.destinations|length): %}
                        {% set style1 = "width: 100%" %}
                        {% set style2 = "width: 100%" %}
                        {% if form.errors %}
                        {% if "destinations" in form.errors: %}
                        {% if form.errors["destinations"][x]: %}
                                {% if "city" in form.errors["destinations"][x]: %}
                                {% set style1 = "width: 100%; background-color: #FFCCCC;" %}
                                {% endif %}
                                {% if "price_ceiling" in form.errors["destinations"][x]: %}
                                {% set style2 = "width: 100%; background-color: #FFCCCC;" %}
                                {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        <tr class="user-row-data">
                            <td style="padding: 6px 15px 6px 0px;">{{ form.destinations[x].city(style=style1)}}</td>
                            <td><strong>$</strong></td>
                            <td style="width: 22%; text-align: left;">{{ form.destinations[x].price_ceiling(style=style2) }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>

                    <button id="add-destination-field" class="btn btn-sm btn-custom-outline" type="button">
                        Add Another Row
                    </button>

                    <span style="padding: 0 3%;"></span>
                    <button id="remove-destination-field" class="btn btn-sm btn-outline-danger" type="button">
                        Remove Last Row
                    </button>
                        <br>
                    </div>
                        <hr>
                    <br>
                    <button class="w-50 btn btn-lg btn-custom" type="submit">Save Changes</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<script>

<!------------adds jQuery autocomplete functionality to the existing input fields on page load -->

  $( function() {
    var availableTags = [
        {% for city in city_options %}
            "{{city_options[city]}}",
        {% endfor %}
    ];

       $( "#home_airport" ).autocomplete({
      source: availableTags
    });

    {% for x in range(0, form.destinations|length): %}
    $( "#destinations-{{x}}-city" ).autocomplete({
      source: availableTags
    });
    {% endfor %}

  } );

</script>


<script>

<!---------------adds a new input field, helps control total number of inputs on page -------------------------------------->

    window.onload = function() {
        let addDestinationFieldBtn = document.getElementById('add-destination-field');
        addDestinationFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allDestinationsFieldWrapper = document.getElementById('destinations');
            let allDestinationsField = allDestinationsFieldWrapper.getElementsByTagName('input');
            if(allDestinationsField.length >= 20) {
                alert('Sorry, you can\'t have more than 10 destinations.');
                return;
            }
            let destinationInputIds = []
            for(let i = 0; i < allDestinationsField.length; i++) {
                destinationInputIds.push(parseInt(allDestinationsField[i].name.split('-')[1]));
            }
            let newCityFieldName = `destinations-${Math.max(...destinationInputIds) + 1}-city`;
            let newPriceCeilingFieldName = `destinations-${Math.max(...destinationInputIds) + 1}-price_ceiling`;
            allDestinationsFieldWrapper.insertAdjacentHTML('beforeend',`<tr>
            <td style="padding: 6px 15px 6px 0px;">
                <input id="${newCityFieldName}" name="${newCityFieldName}" type="text"
                required="" class="ui-autocomplete-input" autocomplete="off"
                role="textbox" aria-autocomplete="list" aria-haspopup="true" style="width: 100%">
            </td>
            <td><strong>$</strong></td>
            <td style="width: 22%; text-align: left;">
                <input id="${newPriceCeilingFieldName}" name="${newPriceCeilingFieldName}" min="1" required=""
                type="number" value="" style="width: 100%">
                </td>
            </tr>
            `);


<!----------------adds jQuery autocomplete to the newly added input fields (since others were done on page loading)------------------ -->

        $( function() {
                            var availableTags = [
                                {% for city in city_options %}
                                    "{{city_options[city]}}",
                                {% endfor %}
                            ];

<!--                            let allDestinationsFieldWrapper = document.getElementById('destinations');-->
<!--                            let allDestinationsField = allDestinationsFieldWrapper.getElementsByTagName('input');-->
<!--                            let destinationInputIds = []-->
<!--                            for(let i = 0; i < allDestinationsField.length; i++) {-->
<!--                            destinationInputIds.push(parseInt(allDestinationsField[i].name.split('-')[1]));-->
<!--                            }-->
<!--                            var newCityFieldName = `#destinations-${Math.max(...destinationInputIds) + 1}-city`;-->

                            $( "#" + newCityFieldName ).autocomplete({
                              source: availableTags
                            });
                          });
  });


 <!-- ---------------JS functionality to remove the most recent destination input field--------------->

        let removeDestinationFieldBtn = document.getElementById('remove-destination-field');
        removeDestinationFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allDestinationsFieldWrapper = document.getElementById('destinations');
            let allDestinationsField = allDestinationsFieldWrapper.getElementsByTagName('tr');
            if(allDestinationsField.length <= 3) {
                alert('Sorry, you can\'t have fewer than 3 destinations.');
                return;
            }
            let lastItem = allDestinationsField[allDestinationsField.length -1];
            lastItem.remove();
        });
    }

</script>

{% include "footer.html" %}
{% endblock %}
