{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <form method="POST" action="">
        {{ form.csrf_token }}

        <h4>{{form.home_airport.label}}</h4>
        {{ form.home_airport() }} <br>
          <p>(ex: SFO, PHX, SIN, BKK)<br>
          {{form.home_airport.description}}</p>
          <br>
        <h4>Your Travel Destinations</h4>
             <table id="destinations">
                <tr>
                    <th style="text-align: left;"> City </th>
                  <th> </th>
                    <th> Price Ceiling </th>
                </tr>
                 {% for destination in form.destinations: %}
                <tr>
                    <td style="padding-right: 22px;">{{ destination.city}}</td>
                  <td>$</td>
                    <td>{{ destination.price_ceiling}}</td>
                </tr>
                {% endfor %}
            </table>
        <br>
        <button id="add-destination-field" class="btn btn-sm btn-custom-outline" type="button">Add Another Destination</button>
            <span>---</span>
        <button id="remove-destination-field" class="btn btn-sm btn-outline-danger" type="button">Remove Last Destination</button>
        <br><br><br>
        <button class="w-100 btn btn-lg btn-custom" type="submit">Update Destinations</button>

        </form>
      </div>
    </div>
  </div>
<br><br><br>
<script>
    window.onload = function() {
        let addDestinationFieldBtn = document.getElementById('add-destination-field');
        addDestinationFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allDestinationsFieldWrapper = document.getElementById('destinations');
            let allDestinationsField = allDestinationsFieldWrapper.getElementsByTagName('input');
            if(allDestinationsField.length >= 20) {
                alert('Sorry, you can\'t have more than 10 destinations.');
                return;
            }
            let destinationInputIds = []
            for(let i = 0; i < allDestinationsField.length; i++) {
                destinationInputIds.push(parseInt(allDestinationsField[i].name.split('-')[1]));
            }
            let newFieldId = `destinations-${Math.max(...destinationInputIds) + 1}`;
            let newCityFieldName = `destinations-${Math.max(...destinationInputIds) + 1}-city`;
            let newPriceCeilingFieldName = `destinations-${Math.max(...destinationInputIds) + 1}-price_ceiling`;
            allDestinationsFieldWrapper.insertAdjacentHTML('beforeend',`<tr>
            <td style="padding-right: 22px;"><input id="${newCityFieldName}" name="${newCityFieldName}" required="" type="text" value=""></td>
            <td>$</td>
            <td><input id="${newPriceCeilingFieldName}" name="${newPriceCeilingFieldName}" min="1" required="" type="number" value=""></td>
            </tr>
            `);
        });

        let removeDestinationFieldBtn = document.getElementById('remove-destination-field');
        removeDestinationFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allDestinationsFieldWrapper = document.getElementById('destinations');
            let allDestinationsField = allDestinationsFieldWrapper.getElementsByTagName('tr');
            if(allDestinationsField.length <= 4) {
                alert('Sorry, you can\'t have fewer than 3 destinations.');
                return;
            }
            let lastItem = allDestinationsField[allDestinationsField.length -1];
            lastItem.remove();
        });
    }
</script>

{% include "footer.html" %}
{% endblock %}
