{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <div class="form-container" style="text-align: left;">
            <div style="margin: 0% 10%;">
              <form method="POST" action="">
                        {{ form.csrf_token }}
                  <br>
                  <strong>{{ form.email.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.email(style="width:90%") }}
                  <br><br>
                  <strong>{{ form.email_frequency.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.email_frequency(style="width:70%") }}
                  <br><br>
                  <strong>{{ form.email_day.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.email_day(style="width:40%") }}
                  <br><br>
                  <strong>{{ form.min_nights.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.min_nights(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.max_nights.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.max_nights(style="width:17%;") }}
                  <br><br>
                  <strong>{{ form.cabin_class.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.cabin_class(style="width:55%") }}
                  <br><br>
                  <strong>{{ form.exclude_airlines.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.exclude_airlines(style="width:80%") }}
                  <br><br>
                  <strong>{{ form.max_stops.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.max_stops(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.max_flight_time.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.max_flight_time(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.num_adults.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_adults(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.num_children.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_children(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.num_infants.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.num_infants(style="width:17%") }}
                  <br><br>
                  <strong>{{ form.search_start_date.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.search_start_date(style="width:50%") }}
                  <br><br>
                  <strong>{{ form.specific_search_start_date.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.specific_search_start_date(style="width:50%") }}
                  <br><br>
                  <strong>{{ form.search_length.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.search_length(style="width:50%") }}
                  <br><br>
                  <strong>{{ form.specific_search_end_date.label(style="margin-bottom: 6px;") }}</strong>
                  <br>{{ form.specific_search_end_date(style="width:50%") }}
                  <br><br><br>
                  <div style="text-align: center">
                  <button class="w-22 btn btn-md btn-custom" type="submit">Save Preferences</button>
                    </div>
              </form>
            </div>
        </div>
                <br>
      </div>
    </div>
  </div>
<br>
<br><br>
{% include "footer.html" %}
{% endblock %}