{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container form-padding">
<h3>Welcome to Flight Club!</h3><br>
    <h5>Go ahead and update your destinations</h5>
    <h5>so that you can start getting awesome</h5>
    <h5>personalized weekly flight deals :D</h5>
<br>
    {% if current_user.id == 1: %}
    <a href="{{ url_for('secret') }}">The Seeks</a>
    <br>
    {% endif %}
</div>
<div class="container center-item">
<a type="button" href="{{ url_for('my_destinations') }}" class="w-33 btn btn-md btn-custom">View My Destinations</a>
    <br><br><br><br><br>
<!--    <a type="button" href="{{ url_for('my_destinations') }}" class="w-33 btn btn-sm btn-custom">Preferences</a><br><br><br>-->
</div>
    {% include "footer.html" %}
{% endblock %}